body {
    background-color: lightgray;
    text-align: center;
}
ul, 
ol {
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4 {
    background-color: teal;
    color: azure;
}
li {
    padding: 5px;
}
img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.banner {
    background-color: rgb(115, 82, 82);
}
.home {
    float: left;
    width: 30px;
}